build
mx.scratch
**/.settings
.idea
.vscode
.claude
.metadata
Middlewares
Drivers
Secure_nsclib
.cproject
.gdbinit-multiload
.mxproject
gcc-arm-none-eabi.cmake
**/mx-generated.cmake
starm-clang.cmake

**/build